.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 190, 9);
    height: 60px;
}

.header a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header .middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.header .search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.header .search-button {
  background-color: rgb(186, 255, 190);
  border: none;
  width: 60px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-shrink: 0;
  cursor: pointer;
}

.header .right-section {
    display: flex;
}